 @charset "utf-8";
 .header ul { font-family:Tahoma; position: absolute; margin:0; list-style:none; }
 .header li { display:inline; margin:0; padding:0; }

 .header a {
    background: url(corner_left.jpg) no-repeat left top #DDD;
    border-radius: 5px 5px 0px 0px;
    float: left;
    font-size: 1.2em;
    padding: 5px 10px;
    margin: -10px 2px 5px 2px;
    text-decoration: none;
  }
 .header a span {
    float:left;
    display:block;
    background: url(corner_right.jpg) no-repeat right top;
    padding:4px 14px 4px 6px;
    color:#FFF;
 }

 .header a:hover span { color:#FFF; }
 .header a:hover { background-position:0% -43px; }
 .header a:hover span { background-position:100% -43px; }
 .header #current a { background-position:0% -43px; }
 .header #current a span { background-position:100% -43px; }